<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            body {
                background: #212121;
            }
            .content {
                max-width: 500px;
                margin: auto;
                background: #4CAF50;
                padding: 50px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <center>
                <div class="spinner-border text-danger"></div>
                <br>
                <h1>Loading....</h1>  
            </center>  
        </div>
    </body>
</html>
